<!--suppress ALL -->
<html>
<head>
<!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

<!-- Popper JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
        <link href="https://fonts.googleapis.com/css?family=Playfair+Display+SC&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300|Quicksand&display=swap" rel="stylesheet">
    <!-- Sticky Footer Stuff -->
    {% load static %}
    <link rel="stylesheet" href="{% static 'landingpage/post.css' %}">
    <link rel="stylesheet" href="{% static 'landingpage/navfoot.css' %}">
</head>


<body>

<nav class="navbar navbar-expand-sm navbar-custom">
    <div class="container-fluid">
  <ul class="nav navbar-nav">
    <li class="nav-item">
      <a class="nav-link" href="{% url 'index' %}">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'contact' %}">Contact</a>
    </li>
  </ul>
        <a class="navbar-brand d-flex justify-content-center" href="{% url 'index' %}">
           <h1 class="site-name">Litera</h1>
        </a>
    <ul class="nav navbar-nav navbar-right">
      <li class="nav-item"><a class="nav-link" href="#" data-toggle="modal" data-target="#subscribe"> Sign Up</a></li>
      <li class="nav-item"><a class="nav-link" href="{% url 'donate' %}"> Donate</a></li>
    </ul>
    </div>
</nav>


<div class="donate-message">

</div>



<footer class="footer">
<div class="row">
<div class="col-lg-3 newsletter-form">
    <h2>Subscribe to our Newsletter</h2>
    <form enctype="multipart/form-data" method="post" action="/newsletter/litera/subscribe/">
{% csrf_token %}
    <div class="form-group">
        <!-- <label for="id_email_field">E-mail:</label> -->
        <input type="email" class="form-control" name="email_field" required="" id="id_email_field" placeholder="Your email address">
    </div>
        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>

<button id="id_submit" name="submit" class="btn btn-outline-subscribe mb-2" value="Subscribe" type="submit">Subscribe</button>
    </form>
</div>
    <div class="col-lg-1"></div>
<div class="col-lg-4 contact-footer">
    <h2>Contact Us</h2>
    <p>
        *various social media accounts buttons here*
    </p>

</div>
<div class="col-lg-4 more-info-footer">
    <h1 class="site-name">Litera.</h1>
    <p>
        Ut ac feugiat magna, vel rhoncus neque.
        Nullam nisl elit, dapibus sed mi vel, porta faucibus libero.
        Praesent tincidunt justo vel nunc rhoncus, eu vestibulum nisl scelerisque.
        Aenean nec ante ex. Praesent tincidunt tincidunt sapien eget dapibus.
        Cras efficitur condimentum neque et molestie.
    </p>
</div>
</div>
</footer>

</body>
</html>