<html>
<head>
<!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

<!-- Popper JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</head>
<body>
<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link" href="{% url 'index' %}">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'about' %}">About</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'contact' %}">Contact</a>
    </li>
  </ul>
</nav>
<div class="container-fluid bg-secondary text-light">
    <div class="col-sm-4"></div>
    <div class="col-sm-8">
        <h1>Latest Posts</h1>
    </div>
</div>
{% if blog_list %}
    {% for blog in blog_list %}
            <div class="row">
                <div class="col-sm-1"></div>
                    <div class="col-sm-8">
                        <div class="media border p-5 border-left-0 border-right-0">
                            <div class="media-body">
                                <h2>{{ blog.post_title }}</h2>
                                <p>{{blog.post_desc}}</p>
                            </div>
                            <img src={{blog.post_img.url}} alt={{blog.post_title} class="ml-3 mt-3 rounded-circle" style="width:60px;">
                        </div>
                    </div>
                <div class="col-sm-3"></div>
            </div>

    {% endfor %}
{% else %}
    <p>No blog posts are available.</p>
{% endif %}
</body>
</html>