<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>thePillarIndex</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Adamina">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Playfair+Display+SC">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
    {% load static %}
    <link rel="stylesheet" href="{% static 'landingpage/css/index.min.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/aos/2.1.1/aos.css">
</head>

<body>
    <!-- Start: Full navbar -->
    <div class="container-fluid">
        <!-- Start: Navigation with Search -->
        <nav class="navbar navbar-light navbar-expand-md shadow-sm navigation-clean-search" style="background-color: rgba(255,255,255,0);/*z-index: -1;*/opacity: 1;width: 100%;padding: 15px;padding-right: 0px;padding-left: 0px;">
            <div class="container-fluid"><button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1" style="width: 46px;"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon" style="width: 22px;"></span></button>
                <div class="collapse navbar-collapse"
                    id="navcol-1">
                    <ul class="nav navbar-nav">
                        <li class="nav-item d-flex" role="presentation"><a class="nav-link" href="{% url 'index' %}">Home</a></li>
                        <li class="nav-item" role="presentation"><a class="nav-link" href="{% url 'contact' %}">Contact Us</a></li>
                        <li class="nav-item" role="presentation"></li>
                    </ul>
                    <ul class="nav navbar-nav ml-auto">
                        <li class="nav-item" role="presentation"><a class="nav-link" href="#" data-toggle="modal" data-target="#subscribe">Sign Up</a></li>
                        <li class="nav-item" role="presentation"><a class="nav-link" href="{% url 'donate' %}">Donate</a></li>
                        <li class="nav-item" role="presentation"></li>
                    </ul>
                    <form class="form-inline" action="/search" style="margin: 0px;margin-left: 0px;width: 323px;padding-left: 20px;">
                        <div class="form-group" style="width: 323px;"><label for="search-field"><i class="icon ion-search" style="padding: 0px;width: 25px;height: 40px;font-size: 30px;"></i></label><input class="form-control search-field" type="search" id="search-field" name="search" style="width: 182px;"></div>
                    </form>
                </div>
            </div>
        </nav>
        <!-- End: Navigation with Search -->
        <div class="row" style="position: absolute;width: 100%;top: 0;z-index: -1;">
            <div class="col">
                <h1 class="text-center" style="/*position: absolute;*/font-family: 'Playfair Display SC', serif;font-size: 40px;padding: 10px;padding-top: 8px;">The Pillar</h1>
            </div>
        </div>
        <div class="modal fade text-center" role="dialog" id="subscribe" tabindex="-1">
            <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header text-center">
                        <h3 class="modal-title text-capitalize" style="/*position: absolute;*//*left: 50%;*/">Subscribe to our newsletter</h3><button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button></div>
                    <div class="modal-body"></div>
                    <form enctype="multipart/form-data" action="/newsletter/litera/subscribe/" class="form-inline d-xl-flex justify-content-xl-center" method="post" style="margin-bottom: 26px;">
                        {% csrf_token %}
                        <div class="form-group d-xl-flex" style="width: 440px;"><input class="form-control" type="email" name="email_field" required="" id="id_email_field" placeholder="Your Email" autofocus="" inputmode="email" style="padding: 10px;margin: 0px;margin-right: 20px;width: 396px;margin-bottom: 0px;"><small class="form-text text-muted">We won't share your email with anybody else</small></div>
                        <div
                            class="form-group"><button id="id_submit" name="submit" value="Subscribe" class="btn text-capitalize text-center text-white bg-dark border rounded-0 shadow-none" type="submit" style="margin-top: -23px;">Subscribe </button></div>
                </form>
            </div>
        </div>
    </div>
    <ul class="nav nav-justified d-sm-block d-lg-flex" style="font-family: Adamina, serif;">
        <li class="nav-item"><a class="nav-link" href="{% url 'section' 'Politics' %}" style="color: #fca311;">Politics</a></li>
        <li class="nav-item"><a class="nav-link" href="{% url 'section' 'Entertainment' %}" style="color: #d12d33;">Entertainment</a></li>
        <li class="nav-item"><a class="nav-link" href="{% url 'section' 'Technology' %}" style="color: #00a0c4;">Technology</a></li>
        <li class="nav-item"><a class="nav-link" href="{% url 'section' 'Business' %}" style="color: #1eb53a;">Business</a></li>
    </ul>
    </div>
    <!-- End: Full navbar -->
    <!-- Start: Parallax Background -->
    <div data-bs-parallax-bg="true" style="height: 500px;background-image: url({{ featured_blog.post_img.url }});background-position: center;background-size: cover;font-family: Adamina, serif;margin-top:10px;">
        <a  href="{% url 'post' featured_blog.post_title %}" style="text-decoration:none;">
        <div class="container d-xl-flex" style="height: 100%;">
            <div class="row justify-content-center align-items-center" style="width: 100%;height: 100%;">
                <div class="col">
                    <h1 class="text-center text-white" style="width: 100%;"><b>{{ featured_blog.post_title }}</b></h1>
                    <p class="text-center" style="color: #eaeaea;/*width: 75%;*/padding: 0px 0px;">{{ featured_blog.post_desc }}</p>
                </div>
            </div>
        </div>
        </a>
    </div>
    <!-- End: Parallax Background -->
    <!-- Start: Article List -->
    <div class="article-list">
        <div class="container bg-light shadow-none" style="margin-top: 20px;">
            <!-- Start: Intro -->
            <div class="intro" style="padding-top: 30px;">
                <h3 class="text-center">Latest Articles</h3>
                <p class="text-center">Nunc luctus in metus eget fringilla. Aliquam sed justo ligula. Vestibulum nibh erat, pellentesque ut laoreet vitae. </p>
            </div>
            <!-- End: Intro -->
            <!-- Start: Articles -->
            <div class="row articles">
                {% for blog in blog_list %}
                <div class="col-sm-6 col-md-4 item">
                    <a href="{% url 'post' blog.post_title %}">
                        <div class="img" data-aos="fade-right" style="float: left;width: 350px;height: 230px;background-size: cover;background-image: url({{ blog.post_img.url }});"></div>
                    <!--<img class="img-fluid " data-aos="fade" src={{ blog.post_img.url }}>--></a>
                    <h3 class="name">{{ blog.post_title }}</h3>
                    <p class="description">{{ blog.post_desc }}</p>
                    <a class="stretched-link d-none action" href="{% url 'post' blog.post_title %}"><i class="fa fa-arrow-circle-right"></i>
                    </a>
                </div>
                {% endfor %}
            </div>
            <!-- End: Articles -->
        </div>
    </div>
    <!-- End: Article List -->
                        <!-- Start: Newsletter Subscription Form -->
                        <div class="newsletter-subscribe">
                            <div class="container">
                                <!-- Start: Intro -->
                                <div class="intro">
                                    <h2 class="text-center">Subscribe to our Newsletter</h2>
                                    <p class="text-center">Nunc luctus in metus eget fringilla. Aliquam sed justo ligula. Vestibulum nibh erat, pellentesque ut laoreet vitae. </p>
                                </div>
                                <!-- End: Intro -->
                                <form class="form-inline" method="post">
                                    {% csrf_token %}
                                    <div class="form-group"><input class="form-control" type="email" name="email" placeholder="Your Email"></div>
                                    <div class="form-group"><button class="btn btn-primary" type="submit">Subscribe </button></div>
                                </form>
                            </div>
                        </div>
                        <!-- End: Newsletter Subscription Form -->
                        <!-- Start: Pillar Footer -->
                        <div class="footer-dark">
                            <footer>
                                <div class="container">
                                    <div class="row">
                                        <!-- Start: Services -->
                                        <div class="col-sm-6 col-md-3 item">
                                            <h3>Services</h3>
                                            <ul>
                                                <li><a href="#">Web design</a></li>
                                                <li><a href="#">Development</a></li>
                                                <li><a href="#">Hosting</a></li>
                                            </ul>
                                        </div>
                                        <!-- End: Services -->
                                        <!-- Start: About -->
                                        <div class="col-sm-6 col-md-3 item">
                                            <h3>About</h3>
                                            <ul>
                                                <li><a href="#">Company</a></li>
                                                <li><a href="#">Team</a></li>
                                                <li><a href="#">Careers</a></li>
                                            </ul>
                                        </div>
                                        <!-- End: About -->
                                        <!-- Start: Footer Text -->
                                        <div class="col-md-6 item text">
                                            <h3>The Pillar</h3>
                                            <p>Praesent sed lobortis mi. Suspendisse vel placerat ligula. Vivamus ac sem lacus. Ut vehicula rhoncus elementum. Etiam quis tristique lectus. Aliquam in arcu eget velit pulvinar dictum vel in justo.</p>
                                        </div>
                                        <!-- End: Footer Text -->
                                        <!-- Start: Social Icons -->
                                        <div class="col item social"><a href="#"><i class="icon ion-social-facebook"></i></a><a href="#"><i class="icon ion-social-twitter"></i></a><a href="#"><i class="icon ion-social-snapchat"></i></a><a href="#"><i class="icon ion-social-instagram"></i></a></div>
                                        <!-- End: Social Icons -->
                                    </div>
                                    <!-- Start: Copyright -->
                                    <p class="copyright">The Pillar© 2020</p>
                                    <!-- End: Copyright -->
                                </div>
                            </footer>
                        </div>
                        <!-- End: Pillar Footer -->
                        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
                        <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
                        <script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.1.1/aos.js"></script>
                        {% load static %}
                        <script src="{% static 'landingpage/js/scriptindex.min.js' %}"></script>
</body>

</html>