<!--suppress ALL -->
<html>
<head>
<!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

<!-- Popper JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <!-- Sticky Footer Stuff -->
    {% load static %}
    <link rel="stylesheet" href="{% static 'landingpage/post.css' %}">
</head>


<body>

<nav class="navbar navbar-expand-sm navbar-custom  mb-1">
    <div class="container-fluid">
  <ul class="nav navbar-nav">
    <li class="nav-item">
      <a class="nav-link" href="{% url 'index' %}">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'about' %}">About</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'contact' %}">Contact</a>
    </li>
  </ul>
        <a class="navbar-brand d-flex justify-content-center" href="{% url 'index' %}" style=" padding:0;">
           <h1 class="site-name">Litera</h1>
        </a>
    <ul class="nav navbar-nav navbar-right">
      <li class="nav-item"><a class="nav-link" href="#"> Sign Up</a></li>
      <li class="nav-item"><a class="nav-link" href="#"> Login</a></li>
    </ul>
    </div>
</nav>

<div class =container-fluid>
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-4">
            <div class="jumbotron jumbotron-fluid bg-white p-2">
                <h1 id="title">{{ blog.post_title }}</h1>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-8">
            <img src={{ blog.post_img.url }} alt="placeholder">
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-7">
            <p>
            {{ blog.post_text }}
            </p>
        </div>
    </div>
</div>
<footer class="footer font-small bg-dark pt-4">

  <!-- Footer Elements -->
  <div class="container">

    <!--Grid row-->
    <div class="row">

      <!--Grid column-->

    </div>
    <!--Grid row-->

  </div>
  <!-- Footer Elements -->

  <!-- Copyright -->
  <div class="footer-copyright bg-secondary text-center py-3">© 2020 Copyright:
    <a href="#"> Litera.com</a>
  </div>
  <!-- Copyright -->

</footer>

</body>
</html>