.featured-blog img {
height: 60vh;
}
.featured-blog .featured-blog-text {
 font-family: "Open Sans","Helvetica","sans-serif";
 padding: 3rem;
}





.featured-blog {
  position: relative;
  margin: auto;
  overflow: hidden;
}

.featured-blog .featured-blog-overlay {
  background: #26495c99;
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  -webkit-transition: all 0.4s ease-in-out 0s;
  -moz-transition: all 0.4s ease-in-out 0s;
  transition: all 0.4s ease-in-out 0s;
}

.featured-blog:hover .featured-blog-overlay{
  opacity: 1;
}

.featured-blog-image{
  width: 100%;
}

.featured-blog-details {
  position: absolute;
  text-align: center;
  padding-left: 1em;
  padding-right: 1em;
  width: 100%;
  top: 50%;
  left: 50%;
  opacity: 0;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.featured-blog:hover .featured-blog-details{
  top: 50%;
  left: 50%;
  opacity: 1;
}

.featured-blog-details h1{
  color: #fff;
  font-weight: bold;
  letter-spacing: 0.15em;
  margin-bottom: 0.5em;
  padding-bottom: 0.5em;
  text-transform: uppercase;
  border-bottom:  solid white;
  border-width: thin;
}

.featured-blog-details p{
  color: #ccc;
  font-size: 1.5em;
  font-weight: normal;
}

.fadeIn-bottom{
  top: 80%;
}









