/*#1fbfb8, #05716c, #1978a5, #031163*/
:root {
  --color1: chocolate;/*blue*/
  --color2: #ffffff;/*#e5e5dc;/*white*/
  --color3: darkslategray;/*orange*/
  --color4: lightcyan;/*off-white*/
  --color5: mistyrose;
}


body {
background-color: var(--color2);
}


.site-name {
 color: var(--color3);
 font-family: "Playfair Display SC","Helvetica","sans-serif";
 font-size: 4vw;
 font-weight: normal;
 margin-bottom: 0;
 margin-right: 0;
 margin-left: 6vw;
}
.navbar-custom {
 background-color: var(--color2);
 padding:0;
 border-top: solid grey;
 border-bottom: solid grey;
 border-weight: thin;
}
.navbar-brand {
 margin: 0;
}
/* change the brand and text color */
.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
    color: var(--color3);
}
.navbar-custom .navbar-brand:hover .site-name {
    color: var(--color1);
}
/* change the link color */
.navbar-custom .navbar-nav .nav-link {
    color: var(--color1);
    font-family: "Quicksand","Helvetica","sans-serif";
    font-size: 1vw;
    font-weight: normal;
    text-transform: uppercase;
    border: 0.2rem solid var(--color2);
    transition: border 0.2s;

}
/* change the color of active or hovered links */
.navbar-custom .nav-item.active .nav-link,
.navbar-custom .nav-item:hover .nav-link {
    color: var(--color3);
    border-bottom: 0.2rem solid var(--color1);
}


.main {
    width: 100%;
    margin-top: 0.4rem;
    padding-right: 1rem;
}


/* Bootstrap 4 text input with search icon */

.has-search .form-control {
    padding-left: 2.375rem;
}

.has-search .form-control-feedback {
    position: absolute;
    z-index: 2;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
    color: #333;
}
.form-group{
margin: 0;
}




.section-nav{
/*color: var(--color1);*/
    font-family: "Playfair Display SC","Helvetica","sans-serif";
    font-size: 1.2vw;
    font-weight: normal;
    text-transform: uppercase;
    margin-top: 0.5rem;
    margin-bottom: 2rem;
    padding-bottom: 0.5rem;

border-bottom: solid grey;
 border-weight: thin;
}

.section-nav a{
/*color: var(--color1);*/
margin-left: 2rem;
margin-right: 2rem;
border: 0.2rem solid var(--color2);
transition: border 0.2s;
}

.section-nav a:hover{
color:
border-bottom: 0.2rem solid var(--color1);
}


.section-nav-container{
display: flex;
justify-content: center;
}


.modal-header {
background-color: var(--color1);
color; var(--color3);
}



.intermediate {
background-color: var(--color4);
font-family: "Quicksand","Helvetica","sans-serif";
margin-top: 1.5rem;
margin-bottom: 1.5rem;
padding-top: 1.5rem;
padding-bottom: 1.5rem;
text-transform: uppercase;
font-weight: bolder;
}

.intermediate .section {
text-align: center;
text-transform: uppercase;
font-weight: bolder;
border-top: dotted chocolate;
border-bottom: dotted chocolate;
}


footer {
margin-top: 4rem;
padding-top: 2rem;
padding-bottom: 2rem;
background-color: var(--color4);
color: var(--color1);
font-family: "Open Sans","Helvetica","sans-serif";
}

footer h2 {
color: var(--color3);
}
.newsletter-form {
padding-left: 2rem;
padding-right: 2rem;
}
.contact-footer {
padding-left: 2rem;
padding-right: 2rem;
}



.more-info-footer {
padding-left: 2rem;
padding-right: 2rem;
}

.btn-outline-subscribe {
color: var(--color1);
background-color: var(--color2);
border-color: var(--color1);
margin-top: 1rem;
}

.btn-outline-subscribe:hover {
color: var(--color2);
background-color: var(--color1);
border-color: var(--color1);
}





#post {
height:100%;
width: 100%;
border: dotted grey;
border-width: thin;
box-shadow: 0 4px 4px 0 rgba(0,0,0,0.2);
}
#post:hover {
border: dotted black;
border-width: thin;
}
#post .card-title {
font-family: "Quicksand","Helvetica","sans-serif";
font-weight: bold;

}

#post:hover {
box-shadow: 0 16px 16px 0 rgba(0,0,0,0.2);
}
#post-footer {
background-color: #ffd;
color:#888;
position: absolute;
bottom: 0.5rem;
right: 1rem;
}
#post-tag {
background-color: #eee;
font-weight: bold;
color:#000;
position: absolute;
bottom: 0.5rem;
left: 1rem;
padding: 0.2rem;
/*border: solid #888;*/
border-radius: 0.5rem;
}

.card-text {
padding-bottom: 2rem;
}