.activation-message {
margin: 20rem;
margin-top: 10rem;
padding: 5rem;
border: dotted var(--color3);
border-width:1px;
background-color: var(--color4);
}
.btn-outline-return {
color: var(--color1);
background-color: var(--color2);
border-color: var(--color1);
margin-top: 1rem;
}

.btn-outline-return:hover {
color: var(--color2);
background-color: var(--color1);
border-color: var(--color1);
}