:root {
  --color1: #26495c;/*blue*/
  --color2: #ffffff;/*#e5e5dc;/*white*/
  --color3: #c66b3d;/*orange*/
  --color4: #fffff0;/*off-white*/
}

img {
  width: 100%;
}
p{
  font-family: "Open Sans","Helvetica","sans-serif";
}

#title {
  font-family: "Quicksand","Helvetica","sans-serif";
  font-size: 3vw;
  font-weight: bold;

}